*{
    font-family:Arial;
    text-decoration:none;
}



                                              /* starting of css for main heading */
.header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    font-size:37px;
    display:flex;
    flex-flow:row nowrap;
    align-content:center;
    padding:10px;
    box-shadow:1px 5px 10px skyblue;
    z-index:1;
}
.header img,.header span{
    padding:5px;
}
@media screen and (max-width:300px)
{
    .header{
        flex-flow:column nowrap;
    }
}
                                                /* ending of css of main heading */



                                            /* starting of css of navigation links */
nav{
    width:30%;
}

/* starting of normal navigation link */
.nav{
    border-radius:15px;
    position:fixed;
    top:150px;
    left:50px;
    text-align:center;
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    box-shadow:2px 1px 10px #a9a9a9;
    border-radius:10px;
    width:fit-content;
    height:auto;
    z-index:1;
}
.nav span,a{
    font-size:16px;
    display:block;
    padding:16px;
    border:0.25px solid transparent;
}
.nav a{
    color:grey;
}
.nav a:active{
    background-color:#e9e9e9;
    color:black;
}
.nav span{
    color:white;
    font-weight:bold;
    background-image:linear-gradient(to right,rgb(140, 0, 255),rgb(210, 95, 255));
    background-repeat:no-repeat;
    background-size:cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/* ending of normal navigation link  */

/* starting of button navigation link */
.nav2{
     position:fixed;
     bottom:20px;
     left:20px;
     z-index:1;
     display:none;
}
.nav2 button{
    font-size:16px;
    color:white;
    font-weight:bold;
    padding:10px 50px;
    background-image:linear-gradient(to right,rgb(140, 0, 255),rgb(210, 95, 255));
    background-repeat:no-repeat;
    background-size:cover;
    border:none;
    border-radius:50px;
    width:100%;
}
.dropdown{
    position:absolute;
    bottom:40px;
    left:0;
    z-index:1;
    text-align:center;
    border:1px solid #f1f1f1;
    display:none;
    border-radius:10px 10px 0 0;
}
.dropdown a{
    font-size:16px;
    color:black;
    border:1px solid transparent;
    padding:20px;
    transition-property:background-color,;
    transition-duration:0.5s;
    transition-timing-function:ease-out;
}
.dropdown a:active{
    background-color:#d0d0d0;
}
.nav2:hover .dropdown{
    display:flex;
    flex-flow:column-reverse nowrap;
    justify-content:center;
}
.nav2:hover button{
   border-radius:0 0 10px 10px;
}
@media screen and (max-width:900px)
{
    .nav{
        display:none;
    }
    .nav2{
        display:inline-block;
    }
}
                                                  /* ending of css of navigation links */